@import 'https://fonts.googleapis.com/css?family=Inconsolata';
/* Ionica Bizau's gridly */
.row{display:flex}.col{flex:1}@media(max-width:48em){.row{flex-direction:column}.col{flex:0 0 100%}}

body {
	background-image: url("/bg.png");
	background-repeat: repeat;
	color: #b0b0a2;
	font-size: 14pt;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	color: #b0b0a2;
}

.no-dec {
	text-decoration: none;
}

ul>li:after {
	content: "-";
}

.container {
	max-width: 800px;
	margin: auto;
}

.terminal {
	color: #b0b0a2;
	background-color: #1b1b1a;
	border: 4px solid #484847;
	padding: 20px;
	display: block;
	font-family: Inconsolata, monospace;
	font-size: 12pt;
}

.terminal:hover {
	border: 4px solid #566e6b;
}

.col-left {
	text-align: left;
}

.col-mid {
	text-align: center;
}

.col-right {
	text-align: right;
}

.manp {
	padding-left: 40px;
}

::selection {
	background: #b0b0a2
}

::-moz-selection {
	background: #b0b0a2;
}
